<div class="container">
  <div class="signup-card">
    <h2 class="heading">Sign Up</h2>
    <form #signUpForm="ngForm">
      <label for="email" class="label">
        Email
        <input type="email" id="email" name="email" placeholder="Enter you email"
        [(ngModel)]="email" class="form-input" maxlength="60" required>
      </label>

      <label for="password" class="label">
        Password
        <input type="password" id="password" name="password" placeholder="Enter you password"
        [(ngModel)]="password" class="form-input" required>
      </label>

      <label for="username" class="label">
        User name
        <input type="text" id="username" name="username" placeholder="Enter you username"
          [(ngModel)]="username"  class="form-input" required>
      </label>

      <!-- <p class="error" *ngIf="error">{{ error.message }}</p> -->

      <button type="submit" [disabled]="!signUpForm.form.valid" class="btn" 
        id="btn-signUp" type="submit" (click)="userSignUp()">Sign Up</button>

    </form>
  </div>
</div>
